<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youchu.product.dao.EmployeeDao">
    <resultMap id="BaseResultMap" type="com.youchu.product.entity.Employee">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="empl_code" property="emplCode" jdbcType="VARCHAR"/>
        <result column="empl_name" property="emplName" jdbcType="VARCHAR"/>
        <result column="post_code" property="postCode" jdbcType="VARCHAR"/>
        <result column="notice_flag" property="noticeFlag" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="VARCHAR"/>
        <result column="org_code" property="orgCode" jdbcType="VARCHAR"/>
        <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, empl_code, empl_name, post_code, notice_flag, create_time, update_time, is_delete, org_code, org_name
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tb_employee
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="getListByParams" resultType="com.youchu.product.entity.Employee">
        select
        <include refid="Base_Column_List"/>
        from tb_employee
        where IS_DELETE = 'n'
        <if test="query.postCode != null and !query.postCode.isEmpty()">
            and tb_employee.post_code = #{query.postCode,jdbcType=VARCHAR}
        </if>
        <if test="query.orgCode != null and !query.orgCode.isEmpty()">
            and tb_employee.org_code = #{query.orgCode,jdbcType=VARCHAR}
        </if>
        <if test="query.orgName != null and !query.orgName.isEmpty()">
            and tb_employee.org_name = #{query.orgName,jdbcType=VARCHAR}
        </if>
        <if test="query.emplCode != null and !query.emplCode.isEmpty()">
            and tb_employee.empl_code = #{query.emplCode,jdbcType=VARCHAR}
        </if>
        <if test="query.emplName != null and !query.emplName.isEmpty()">
            and tb_employee.empl_name = #{query.emplName,jdbcType=VARCHAR}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from tb_employee
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.youchu.product.entity.Employee">
        insert into tb_employee (id, empl_code, empl_name, post_code, notice_flag, create_time, update_time, is_delete, org_code, org_name)
        values (#{id,jdbcType=VARCHAR}, #{emplCode,jdbcType=VARCHAR}, #{emplName,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR},
         #{noticeFlag,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.youchu.product.entity.Employee">
        insert into tb_employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="emplCode != null">
                empl_code,
            </if>
            <if test="emplName != null">
                empl_name,
            </if>
            <if test="postCode != null">
                post_code,
            </if>
            <if test="noticeFlag != null">
                notice_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="orgCode != null">
                org_code,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="emplCode != null">
                #{emplCode,jdbcType=VARCHAR},
            </if>
            <if test="emplName != null">
                #{emplName,jdbcType=VARCHAR},
            </if>
            <if test="postCode != null">
                #{postCode,jdbcType=VARCHAR},
            </if>
            <if test="noticeFlag != null">
                #{noticeFlag,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                #{orgName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.youchu.product.entity.Employee">
        update tb_employee
        <set>
            <if test="emplCode != null">
                empl_code = #{emplCode,jdbcType=VARCHAR},
            </if>
            <if test="emplName != null">
                empl_name = #{emplName,jdbcType=VARCHAR},
            </if>
            <if test="postCode != null">
                post_code = #{postCode,jdbcType=VARCHAR},
            </if>
            <if test="noticeFlag != null">
                notice_flag = #{noticeFlag,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                org_code = #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.youchu.product.entity.Employee">
        update tb_employee
        set empl_code = #{emplCode,jdbcType=VARCHAR},
        empl_name = #{emplName,jdbcType=VARCHAR},
        post_code = #{postCode,jdbcType=VARCHAR},
        notice_flag = #{noticeFlag,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=VARCHAR},
        is_delete = #{isDelete,jdbcType=VARCHAR},
        org_code = #{orgCode,jdbcType=VARCHAR},
        org_Name = #{orgName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>